In [7]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler

In [9]:
df = pd.read_csv('E:\Hack\Main.csv')
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\H'
<>:1: SyntaxWarning: invalid escape sequence '\H'
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12196\850810759.py:1: SyntaxWarning: invalid escape sequence '\H'
  df = pd.read_csv('E:\Hack\Main.csv')

,Machine ID,Timestamp,Temperature,Pressure,Vibration,Energy Consumption,Failure
0,170,5/14/2023 10:48,46,33,7.40,45.98,0
1,431,11/3/2022 10:48,95,64,4.39,31.70,0
2,881,11/11/2021 10:48,82,89,8.45,142.69,0
3,886,7/29/2024 10:48,42,61,8.88,18.14,0
4,752,10/6/2022 10:48,25,54,5.69,104.08,0

In [20]:
print(df.describe())

       Machine ID   Timestamp  Temperature     Pressure    Vibration  \
count  1204.00000        1204  1204.000000  1204.000000  1204.000000
mean    560.02990  2023-03-02    59.178571    64.886213     5.410407
min       2.00000  2021-07-10    17.000000    25.000000     0.000000
25%     289.00000  2022-04-30    38.000000    47.000000     2.450000
50%     564.00000  2023-02-25    60.000000    65.000000     5.380000
75%     833.25000  2024-01-07    79.000000    83.000000     8.300000
max    1100.00000  2024-10-21   103.000000   105.000000    10.980000
std     314.84872         NaN    23.738227    20.960506     3.252292

       Energy Consumption      Failure
count         1204.000000  1204.000000
mean           101.805316     0.047342
min              1.080000     0.000000
25%             53.727500     0.000000
50%            101.710000     0.000000
75%            152.000000     0.000000
max            200.950000     1.000000
std             58.062637     0.212458

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204 entries, 0 to 1203
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Machine ID          1204 non-null   int64
 1   Timestamp           1204 non-null   object
 2   Temperature         1204 non-null   int64
 3   Pressure            1204 non-null   int64
 4   Vibration           1204 non-null   float64
 5   Energy Consumption  1204 non-null   float64
 6   Failure             1204 non-null   int64
dtypes: float64(2), int64(4), object(1)
memory usage: 66.0+ KB

#####  - Timestamp is in object we have to convert this into date datatype

In [18]:
df["Timestamp"] = df["Timestamp"].astype("date64[pyarrow]")

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204 entries, 0 to 1203
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Machine ID          1204 non-null   int64
 1   Timestamp           1204 non-null   date64[ms][pyarrow]
 2   Temperature         1204 non-null   int64
 3   Pressure            1204 non-null   int64
 4   Vibration           1204 non-null   float64
 5   Energy Consumption  1204 non-null   float64
 6   Failure             1204 non-null   int64
dtypes: date64[ms][pyarrow](1), float64(2), int64(4)
memory usage: 66.0 KB

#### Any Null values

In [22]:
print(df.isnull().sum())

Machine ID            0
Timestamp             0
Temperature           0
Pressure              0
Vibration             0
Energy Consumption    0
Failure               0
dtype: int64

In [ ]:
df.head(
    
)

### Normalize the data